@import 'vars';

html * {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, 'sans-serif';
	background: beige;
}

/*#level_stage, .player, .button, .button {
	border-radius: 3px;
}*/

a, a:hover, a:visited {
	color: #0000dd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.button, .button:hover, .button:visited {
	display: inline-block;
	border: 1px solid gainsboro;
	border-bottom-color: lightslategray;
	padding: 5px 10px;
	background: rgba(255, 255, 255, .4);
	color: #333;
	text-decoration: none;
	text-align: center;
}

.button:active {
	border-color: dimgray;
	border-top-color: darkslategray;
	background: slategray;
	color: #fff;
}

#view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

#level_container {
	position: relative;
	display: inline-block; 
	margin: 20px 0 0;
}

#level_stage {
	background: rgba(0, 0, 0, .15);
	box-shadow: 0 4px 0 0 rgba(0, 0, 0, .4);
}

#level_stage, #level_content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#level_content {
	overflow: hidden;
}

#player_controls {
	width: 75px;
	position: absolute;
	top: 0;
	left: -105px;
	bottom: 0;
}

#player_controls .button {
	width:75px;
	height:50%;
	line-height: 40px;
	margin: 0 0 -1px;
}

#player_controls .button span {
	position: relative;
	top: 40%;
}

.player, .bit, .bomb {
	display: block;
	position: absolute;
	border: 1px solid rgba(0, 0, 0, .2);
	border-bottom-color: rgba(0, 0, 0, .4);
	color: #fff;
	text-align: center;

	-webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);

	transition: all 200ms;
}

.player {
	transition: all 400ms;
}

.bit {
	background: #eee;	
}

.bit.static {
	background: #aaa;
}

.bit.diode {
	background: rgb(52, 223, 255);
}

.bit.true {
	border: 1px dotted rgba(0, 0, 0, .15);
	background: none;
}

.bit.bomb {
	border-style: solid;
	background-color: rgba(0, 0, 0, 1);
	/*box-shadow:0 0 11px 5px rgb(255, 0, 0);*/
	transition: all 400ms ease 0ms, opacity 400ms ease 600ms;
}

.bomb.fire {
	border-width: 0;
	background-color: rgba(0, 0, 0, 0);
	opacity: 0;
}

.paver, .block {
	position: absolute;
	display: block;
}

.paver {
	background: gray;
}

.block {
	background: pink;
}